*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Laos {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    rgb(206, 17, 38) 25%,
    rgb(0, 40, 104) 0 75%,
    rgb(206, 17, 38) 0 100%
  );
  position: relative;
}
.Laos::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
