*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Italy {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    90deg,
    rgb(0, 140, 69) 33%,
    rgb(255, 255, 255) 0 66%,
    rgb(205, 33, 42) 0 100%
  );
}
