*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Maldives {
  width: 250px;
  height: 150px;
  background-color: rgb(0, 126, 58);
  border: 40px solid rgb(210, 16, 52);
}

.Maldives::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 5px 10px rgb(255, 255, 255);
  transform: rotate(110deg);
  position: relative;
  left: 15px;
}
