*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Ghana {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    rgb(206, 17, 38) 33%,
    rgb(252, 209, 22) 0 66%,
    rgb(0, 107, 63) 0 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.Ghana::after {
  content: "";
  background-color: rgb(0, 0, 0);
  width: 55px;
  height: 55px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
