*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Jordan {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    rgb(0, 0, 0) 33%,
    rgb(255, 255, 255) 0 66%,
    rgb(0, 122, 61) 0 100%
  );
  position: relative;
}

.Jordan::before,
.Jordan::after {
  content: "";
  position: absolute;
}

.Jordan::before {
  width: 150px;
  height: 150px;
  background-color: rgb(206, 17, 38);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.Jordan::after {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  clip-path: polygon(
    49.306% 2.857%,
    39.583% 29.286%,
    10.417% 21.429%,
    25% 46.429%,
    2.778% 64.286%,
    29.167% 68.571%,
    29.167% 97.857%,
    49.306% 78.571%,
    72.222% 97.857%,
    69.444% 68.571%,
    97.222% 64.286%,
    75.694% 46.429%,
    87.5% 21.429%,
    61.111% 29.286%,
    49.306% 2.857%
  );
  top: 45%;
  left: 10%;
}
