*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mali {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    90deg,
    rgb(20, 181, 58) 33%,
    rgb(252, 209, 22) 0 66%,
    rgb(206, 17, 38) 0 100%
  );
}
