*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CAR {
  width: 300px;
  height: 150px;
  background: linear-gradient(
      90deg,
      transparent,
      transparent 45%,
      rgb(210, 16, 52) 45%,
      rgb(210, 16, 52) 55%,
      transparent 55%,
      transparent
    ),
    linear-gradient(
      rgb(0, 48, 130) 25%,
      rgb(255, 255, 255) 0 50%,
      rgb(40, 151, 40) 0 75%,
      rgb(255, 206, 0) 0 100%
    );
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.CAR::after {
  content: "";
  background-color: rgb(255, 206, 0);
  width: 25px;
  height: 25px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  margin: 5px 0 0 15px;
}
