*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Denmark {
  width: 300px;
  height: 150px;
  background: linear-gradient(
      90deg,
      transparent,
      transparent 30%,
      white 30%,
      white 40%,
      transparent 40%,
      transparent
    ),
    linear-gradient(
      0deg,
      rgb(198, 12, 48),
      rgb(198, 12, 48) 43%,
      white 43%,
      white 58%,
      rgb(198, 12, 48) 58%,
      rgb(198, 12, 48)
    );
}
