*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Nigeria {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    90deg,
    rgb(0, 135, 81) 33%,
    rgb(255, 255, 255) 0 66%,
    rgb(0, 135, 81) 0 100%
  );
}
