*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nauru {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    rgb(0, 43, 127) 0 45%,
    rgb(255, 198, 30) 0 55%,
    rgb(0, 43, 127) 0 100%
  );
  position: relative;
}

.Nauru::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  clip-path: polygon(
    25.15% 6.805%,
    32.335% 31.361%,
    7.186% 24.852%,
    25.15% 42.604%,
    0.599% 49.112%,
    25.15% 55.03%,
    7.186% 73.373%,
    32.335% 66.568%,
    25.15% 92.308%,
    43.114% 73.373%,
    49.701% 98.521%,
    57.186% 73.373%,
    75.449% 91.124%,
    67.665% 66.568%,
    93.413% 73.373%,
    74.251% 55.03%,
    99.701% 49.112%,
    74.251% 42.604%,
    92.216% 24.852%,
    67.665% 31.361%,
    74.251% 6.805%,
    57.186% 24.852%,
    49.701% 1.183%,
    43.114% 24.852%,
    25.15% 6.805%
  );
  position: absolute;
  left: 15%;
  bottom: 10%;
}
