*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Niger {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    rgb(224, 82, 6) 33%,
    rgb(255, 255, 255) 0 66%,
    rgb(13, 176, 43) 0 100%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Niger::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: rgb(224, 82, 6);
}
