*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Mauritania {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    rgb(208, 28, 31) 0 25%,
    rgb(0, 169, 92) 0 75%,
    rgb(208, 28, 31) 0 100%
  );
  flex-direction: column;
}

.moon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 10px 10px rgb(255, 215, 0);
  transform: rotate(45deg);
  position: relative;
  top: -45px;
}

.star {
  width: 35px;
  height: 35px;
  background-color: rgb(255, 215, 0);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  position: relative;
  top: 35px;
}
