*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Belgium {
  width: 300px;
  height: 150px;
  background: linear-gradient(#000000 33%, #fae042 0 66%, #ed2939 0 100%);
}
