*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mauritius {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    rgb(234, 40, 57) 25%,
    rgb(26, 32, 109) 0 50%,
    rgb(255, 213, 0) 0 75%,
    rgb(0, 165, 81) 0 100%
  );
}
