*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Botswana {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    rgb(109, 169, 210) 0 37%,
    rgb(255, 255, 255) 0 42%,
    rgb(0, 0, 0) 0 58%,
    rgb(255, 255, 255) 0 63%,
    rgb(109, 169, 210) 0 100%
  );
}
