*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Panama {
  width: 300px;
  height: 150px;
  background: conic-gradient(
    rgb(166, 25, 46) 25%,
    rgb(255, 255, 255) 0 50%,
    rgb(0, 40, 85) 0 75%,
    rgb(255, 255, 255) 0
  );
  border: 1px solid #ddd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
  grid-template-areas:
    "topLeft topRight"
    "bottomLeft bottomRight";
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star::before {
  content: "";
  width: 45px;
  height: 45px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: rgb(0, 40, 85);
}

.star:last-child::before {
  background-color: rgb(166, 25, 46);
}
