*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Russia {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    rgb(255, 255, 255) 33%,
    rgb(0, 50, 160) 0 66%,
    rgb(218, 41, 28) 0 100%
  );
  border: 1px solid #ddd;
}
