*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Canada {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    90deg,
    rgb(213, 43, 30) 0 25%,
    rgb(255, 255, 255) 0 75%,
    rgb(213, 43, 30) 0 100%
  );
  border: 1px solid #ddd;
  flex-direction: column;
}

.Canada::after {
  content: "";
  width: 120px;
  height: 120px;
  background-color: rgb(213, 43, 30);
  clip-path: polygon(
    30.077% 12.352%,
    35.861% 38.124%,
    33.033% 40.261%,
    21.337% 28.385%,
    17.352% 35.867%,
    1.799% 32.898%,
    7.198% 48.1%,
    0.257% 51.188%,
    26.478% 70.784%,
    23.008% 79.572%,
    46.015% 75.772%,
    48.972% 76.603%,
    47.686% 99.881%,
    52.699% 99.881%,
    51.157% 76.603%,
    53.728% 75.772%,
    77.249% 79.572%,
    73.65% 70.784%,
    99.743% 51.188%,
    93.059% 48.1%,
    97.815% 32.898%,
    82.519% 35.867%,
    79.177% 28.385%,
    67.352% 40.261%,
    64.524% 39.192%,
    69.923% 12.352%,
    59.383% 17.34%,
    50.129% 0.475%,
    40.231% 17.34%,
    30.077% 12.352%
  );
}
