*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Bangladesh {
  width: 300px;
  height: 150px;
  background: rgb(0, 106, 78);
  position: relative;
}
.Bangladesh::before {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(244, 42, 65);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
