*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Germany {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    rgb(0, 0, 0) 0 33%,
    rgb(221, 0, 0) 0 66%,
    rgb(255, 206, 0) 0 100%
  );
}
