*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Thailand {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    rgb(165, 25, 49) 15%,
    rgb(255, 255, 255) 0 30%,
    rgb(45, 42, 74) 0 70%,
    rgb(255, 255, 255) 0 85%,
    rgb(165, 25, 49) 0 100%
  );
}
