*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Monaco {
  width: 300px;
  height: 150px;
  background: linear-gradient(
    rgb(206, 17, 38) 0 50%,
    rgb(255, 255, 255) 0 100%
  );
  border: 0.5px solid #ddd;
}
